.transformation-selector__grid {
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: repeat(12, 1fr);
  gap: 0.6rem;
}

.transformation-selector__grid-item {
  border: 0.06rem solid var(--color-transformation-selector-border);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.13rem;
}
